body {	
	font-family: Times New Roman, Helvetica, sans-serif;
    font-size: 100%;
	width: 99%;
	max-width:960px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border: solid 3px #931420;
	background-color:#fffded;
}
html { background-color: Orange;
}