/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	border: solid 3px #931420;
	background-color: #fffded
	}
	/* the reset selector */
	* { 
	margin: 0;
	padding: 0;}
html{background-color: white;}
a:hover,a:focus { font-style:italic; }
	a{font-style:normal;} 
/* the styles for the header */
header img {
	float: left;
	padding-left:30px;
	padding-right:30px;
}
#nav_menu ul {
list-style-type: none;
padding:0;
margin:0;}
#nav_menu ul li {
display:inline;}
above { padding:1em;}
#nav_menu ul li a { 
display:block;
width:160px;
text-align:center;	}
below { padding:1em;}
header{ border-bottom: solid 3px #931420;
padding-top:1.5em;
padding-bottom:2em;
background-image: linear-gradient(30deg, #f6bb73 0%,#f6bb73 30%, white 50%, #f6bb73 80%,#f6bb73 100%);
}
h1 { font-size:150%;
	padding-top:.5em;
	padding-bottom:.25em;
	margin:0;
	margin-bottom:0;
	margin-top:0;
}
span.shadow { text-shadow: 1px 1px #800000;}
h2 {
	font-size: 170%;
	color: #800000;
	}
h3 { 
	font-size:130%;
	font-style:italic;
}
/* the styles for the section */
main {
	clear: left;
	}

h2 { font-size:130%;
color:#800000;
padding-top:.5em;
padding-bottom:.25em;
}
h3 { font-size:105%;
padding-bottom:.25em;
}
img { padding-bottom: 1em;
	}
	p { padding-bottom:.5em;
	}
blockquote { padding-left:2em;
			 padding-right:2em;
			 font-style:italic;
}
ul { padding-bottom:.25em;
	 padding-left:1.25;
}
li { padding-bottom:.35em;}
section { 
	width:525px;
	float: right;
	padding-left:20px;
	padding-right:20px;
}
section h2 {width:525px;
	float: right;
	padding-left:20px;
padding-right:20px;}
section img { float: right;
	padding:1px;
	border:1px soild black;}
aside { 
	width:215px;
	float:right;
	padding-left:20px;
	padding-bottom:20px;
	
}
aside img{ padding-bottom:1em;}
above { padding:.5em;}
article { border-top:2px solid;
		  border-bottom:2px solid;
		  color: #800000}
below {padding: .5em;}
Article h2 {
padding:0;}
article h3 { font-size:105%;
	padding:.25ems;
	padding-top:0; }
aside h2 { width:215px;
	float:right;
	padding-left:20px;
	padding-bottom:20px;}
	aside img{ padding-bottom: 1em;}
/* the styles for the footer */
footer p {  padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}
footer {  background-color: #931420;
    color: white;
    clear: both;
}
